<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clinic2018.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-L2HUNPH\SQLEXPRESS;Persist Security Info=True;Password=1234;User ID=sa;Initial Catalog=Clinic2018"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>